---
import BaseLayout from '../layouts/BaseLayout.astro';
---


<BaseLayout betweenMainAndFooterClass="grow" mainClass="w-2/3 place-content-center text-center items-center self-center mt-24 flex flex-col">

	<h1 class="flex text-6xl place-self-center bg-clip-text text-transparent bg-gradient-to-r from-blue-700 to-violet-600">HerediTez, héritez sereinement.</h1>

    <p class="text-2xl mt-8">HerediTez est un service en ligne qui vous permet de gérer vos biens et vos héritages en toute simplicité.</p>

    <p class="text-2xl mt-8">Vous pouvez créer un compte gratuitement et commencer à gérer vos biens et vos héritages.</p>

</BaseLayout>
