---
import Hamburger from "./Hamburger.astro";
const  { headerclass }  = Astro.props;
import LogoRef from "../../static/logo-hereditez.png"
---
<header class={headerclass}>

    <Hamburger classHamburgerButton="2xl:hidden flex rounded-lg border-solid border-2 border-[#00ffff] bg-transparent p-2 mx-2 h-auto cursor-pointer hover:bg-sky-400 self-center items-center"/>
    
    <a class="h-18 lg:h-8 mx-4 no-underline flex flex-row place-content-center items-center place-self-center hover:scale-110 duration-200" href="/">
        <img src={LogoRef} class="h-16 w-18"/>
        <h1 class="text-white pt-1 cursor-pointer lg:text-4xl text-6xl pl-4">HerediTez</h1>
    </a>

    <div class="grow"></div>

    <a class="self-center font-bold text-xl whitespace-nowrap hidden 2xl:flex text-white m-2 p-2 h-14 items-center hover:scale-105 duration-300 no-underline" href="/quiSommesNous">
        Qui sommes-nous ?
    </a>

    <a class="self-center font-bold text-xl whitespace-nowrap hidden 2xl:flex text-white m-2 p-2 h-14 items-center hover:scale-105 duration-300 no-underline" href="/pourquoiNous">
        Pourquoi nous choisir ?
    </a>

    <a class="self-center font-bold text-xl whitespace-nowrap hidden 2xl:flex text-white m-2 p-2 h-14 items-center hover:scale-105 duration-300 no-underline" href="/solution">
        Qu'est-ce-que notre solution ?
    </a>

    <a class="self-center font-bold text-xl whitespace-nowrap hidden 2xl:flex text-white m-2 p-2 h-14 items-center hover:scale-105 duration-300 no-underline" href="/faq">
        FAQ
    </a>


</header>
