---

---
<footer class="flex flex-row w-full bg-purple-900 place-content-center border-b border-solid border-zinc-600 border-t-0 border-r-0 border-l-0">
    
    <p class="text-white self-center">Copyright © 2023 HerediTez.</p>

</footer>